<div class="landing flex flex-row">
  <div class="flex flex-col right-divider chats">
    <div class="flex flex-col">
      <a href="#settings">Profile</a>
      <input class="input" placeholder='Search'/>
    </div>
    {{#each chats}}
      <div class="chat-divider"></div>
      <div class="flex flex-row chat space-between">
        <div class="flex flex-row">
          <div class="avatar">
            {{#if avatar }}
            <img class="avatar" src={{avatar}} alt="avatar"/>
            {{/if}}
          </div>
          <div class="flex flex-col">
            <span>{{name}}</span>
            <span>{{lastMessage.content}}</span>
          </div>
        </div>
        <div class="flex flex-col centered">
          <span>{{lastMessage.time}}</span>
          <div class="circle flex centered"><span>{{lastMessage.amount}}</span></div>
        </div>
      </div>
    {{/each}}
  </div>
  <div class="chat-side flex flex-col">
    <div class="flex flex-row space-between chat-header">
      <div class="flex flex-row">
        <div class="avatar">
          {{#if chats.0.avatar }}
          <img class="avatar" src={{chats.0.avatar}} alt="avatar" />
          {{/if}}
        </div>
        <span>{{chats.0.name}}</span>
      </div>
      <nav class="menu">
        <span>... </span>
        <ul class="menu-content">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Mute</a></li>
          <li><a href="#">Clear history</a></li>
        </ul>
      </nav>
    </div>
    <div class="direct flex flex-col">
      {{#each messages}}
        {{#if isOpponent }}
          <div class="message message-opponent">
            <span>{{messageText}}</span>
          </div>
        {{else}}
          <div class="message message-own">
            <span>{{messageText}}</span>
          </div>
        {{/if}}
      {{/each}}
    </div>
    <div class="flex flex-row">
      <i class="fa-solid fa-paperclip clip"></i>
      <form class="flex flex-row form-message">
        <input class="input input-long" placeholder="Message" name="message" />
        <button class="flex arrow-right centered" type="submit">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </form>
    </div>
  </div>
</div>
