<img class="avatar avatar-profile" src={{avatar}} alt="avatar" />
<p>{{first_name}}</p>
<form class="flex flex-col centered">
  <input class="input" name="first_name" disabled value={{first_name}} />
  <input class="input" name="second_name" disabled value={{second_name}} />
  <input class="input" name="display_name" disabled value={{display_name}} />
  <input class="input" name="login" disabled value={{login}} />
  <input class="input" name="email" disabled value={{email}} />
  <input class="input" name="phone" disabled value={{phone}} />
  <input class="input" name="old_password" placeholder="Old password" />
  <input class="input" name="new_password" placeholder="New password" />
  <div>
    <button class="button button-secondary">Update info</button>
    <button class="button button-secondary">Update password</button>
    <button class="button button-secondary">Sign out</button>
  </div>
</form>
