<span>Sign up</span>
<form>
  {{{first_name}}}
  {{{second_name}}}
  {{{login}}}
  {{{email}}}
  {{{password}}}
  {{{phone}}}
  <button class="button button-primary" type="submit">Sign up</button>
</form>
