{{{first_name_comp}}}
{{{second_name_comp}}}
{{{login_comp}}}
{{{email_comp}}}
{{{phone_comp}}}
{{{old_password_comp}}}
{{{new_password_comp}}}
<div class="mt-md">
  <button type="submit" class="button button-secondary">Update info</button>
  <button type="submit" class="button button-secondary">Update password</button>
  <button class="button button-secondary">Sign out</button>
</div>
